.FormSearch {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .FormField {
    width: 100%;
  }
  .Card {
    max-width: 400px;
    min-height: 550px;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 600px) {
    .example-card {
   margin-left: 5%;
    }
  }

  .IconSearch{
    color: #93969a;
  }
  .DivCard{
    min-height: 700px;
  }