.form-search {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .form-field {
    width: 100%;
  }
  .card {
    max-width: 400px;
    min-height: 550px;
    cursor: pointer;
  }
  


  .icon-search{
    color: #93969a;
  }
  .div-card{
    min-height: 700px;
  }