<br><br><br>
<div style="text-align: center;">
<mat-card class="example-card">
      
    <img mat-card-image ngSrc="{{product.images[0]}}" alt="Photo of a Shiba Inu"height="350" width="500"  priority="high" >
    <br><br><br>
    <mat-card-content>
      <h4>{{product.title}}</h4>
      <p>{{product.description}}</p>
      <p>Brand: <span>{{product.brand}}</span></p>
     <p>Price: <span>{{product.price}}</span></p>
     <p>Discount: <span>{{product.discountPercentage}}%</span></p>
    </mat-card-content>
    
  </mat-card> 
  </div>